
<h1>Log in User</h1>


<form method="post">
    <input type="text" name="usuario" class="form-control" placeholder="Nombre de usuario" />

    <button type="submit" class="btn btn-success">Log in</button>
</form>


