@model Coche

<h1>Details</h1>


<ul class="list-group">
    <li class="list-group list-group-item">@Model.IdCoche</li>
    <li class="list-group list-group-item">@Model.Marca</li>
    <li class="list-group list-group-item">@Model.Modelo</li>
    <li class="list-group list-group-item">
        <img src="@Model.Imagen" style="width:100%" />
    </li>
</ul>